.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 500px;
    align-self: center;
    justify-self: center;

}
.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: serif;
    font-weight: 600;
}

.headingimg{
    align-self: self-end;
}
.body h2{
margin: 0px;
}
.body mark{
    color:#ff8095;;
    background-color: inherit;
}
.body img{
    width: 100%;
}

@media only screen and (max-width: 600px) {
.container{
    box-sizing: border-box;
    padding: 50px;
    text-align: start;
}
.heading{
    justify-content: space-between;
}
}