.container{
  margin: 0;
  width:100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* overflow-y: auto; */
  justify-content: center;
  align-items: center;
  /* overflow:auto; */
  /* padding-right: 15px; */
  overflow-x: hidden;
  background-color: white;
  color: black;
  }
  button{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #ff97ab;
  }
  html {
    scroll-behavior: smooth;
}

.internal{
  flex-direction: column;
  display: flex;
  width: 100%;
}
