.container{
  margin: 0;
  width:100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* overflow-y: auto; */
  justify-content: center;
  align-items: center;
  /* overflow:auto; */
  /* padding-right: 15px; */
  overflow-x: hidden;
  }
.internal{
  flex-direction: column;
  display: flex;
  width: 100%;
}
