.container{
    display: flex;
    background-image: url("./../../assets/Section3/sky.png");
    background-size: cover;
    background-position: center; /* Keeps the center of the image in focus */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: white;
    flex-direction: column;
    align-items: center;
}
.header h2{
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 26px;
}
.body{
    max-width: 600px;
    position: relative;
    gap: 0px;
    display: flex;
    flex-direction: column;
}
.icon1{
    left: 15%;
    position:relative;
    width: 40px;
}
.icon2{
    left: 25%;
    position: relative;
    width: 40px;
}

@media screen and (max-width: 480px) {

    .container{
        padding: 10px;
        align-items: unset;
    }
}